


body {
    background-image: url('img/table.png');
    background-size: 100%;
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    /* background: red; */
}


#cards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: green; */
    height: 400px;
    width: 1830px;
}



#shuffle-btn {
    width: 300px;
    height: 100px;
    background: yellow;
    border: none;
    border-radius: 6px;
    margin-left: 750px;
    margin-bottom: 800px;
    cursor: pointer;
}


#deal2 {
    width: 300px;
    height: 100px;
    background: yellow;
    border: none;
    border-radius: 6px;
    margin-top: 600px;
    margin-left: 550px;
    cursor: pointer;
}


