


body {
    background-image: url('img/table.png');
    background-size: 100%;
    color: white;
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    /* background: red; */
    height: 530px;
}


#cards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: green; */
    height: 400px;
    width: 1830px;
}


#text-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 200px;
    padding-right: 250px;
    /* border: 5px solid black; */
}


#shuffle-btn {
    width: 300px;
    height: 100px;
    background: yellow;
    border: none;
    border-radius: 6px;
    margin-left: 150px;
    cursor: pointer;
}


.deal2 {
    width: 300px;
    height: 100px;
    background: yellow;
    border: none;
    border-radius: 6px;
    margin-right: 150px;
    cursor: pointer;
}


#outcome {
    margin-top: 200px;
    
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}